

body {
background-image: url(http://all4desktop.com/data_images/original/4162450-dark-knight-batman-batpod-HD.jpg);


background-size: cover;
background-position: top center !important;
background-repeat: no-repeat !important;
background-attachment: fixed;

}

h1{
  color: white;
}

h2{
  color: red;
  border-style: solid;
  border-width: medium;
  padding: 10px;
}

p{
  color: white;
}

.row {text-align: center}
