body {
background-image: url(http://all4desktop.com/data_images/original/4162450-dark-knight-batman-batpod-HD.jpg); /*You will specify your image path here.*/

-moz-background-size: cover;
-webkit-background-size: cover;
background-size: cover;
background-position: top center !important;
background-repeat: no-repeat !important;
background-attachment: fixed;
}

h1{
  color: white;
}

h2{
  color: red;
}

button{
  display: inline;
}
