

body {
background-image: url(http://all4desktop.com/data_images/original/4162450-dark-knight-batman-batpod-HD.jpg);


background-size: cover;
background-position: top center !important;
background-repeat: no-repeat !important;
background-attachment: fixed;

}

h1{
  color: white;
}

h2{

  position:relative;
  color: red;
  border-style: solid;
  border-width: medium;
  padding: 10px;
}

p{
  color: white;
}

.row {text-align: center}

#defeat{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#victorytext{
  position: absolute;
  bottom: 450px;
  font-size:36px;
  font-family:"vedana";
  left: 300px;
  color: #ffffff;
}

#defeattext{
  position: absolute;
  bottom: 450px;
  font-size: 30px;
  font-family:"garamond";
  left: 470px;
  color: #7CFC00;
  font-weight: bold;
}
